.pkbadge-wrapper {
	width: 32px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	padding: 1px;
}

.pkbadge {
  background-image: url('/assets/badges.png');
  display: inline-block;
  vertical-align: middle;
  image-rendering: pixelated;
}


/* Gen 1 */
.pkbadge-pewter  { width: 14px; height: 14px; background-position: -2px -3px; }
.pkbadge-cascade { width: 11px; height: 14px; background-position: -20px -3px; }
.pkbadge-thunder { width: 16px; height: 16px; background-position: -35px -2px; }
.pkbadge-rainbow { width: 16px; height: 16px; background-position: -52px -2px; }
.pkbadge-soul    { width: 14px; height: 14px; background-position: -70px -3px; }
.pkbadge-marsh   { width: 14px; height: 14px; background-position: -87px -3px; }
.pkbadge-volcano { width: 13px; height: 16px; background-position: -104px -2px; }
.pkbadge-earth   { width: 16px; height: 16px; background-position: -120px -2px; }

/* Gen 2 */
.pkbadge-zephyr  { width: 16px; height: 16px; background-position: -1px -19px; }
.pkbadge-hive    { width: 16px; height: 16px; background-position: -18px -19px; }
.pkbadge-plain   { width: 16px; height: 16px; background-position: -35px -19px; }
.pkbadge-fog     { width: 16px; height: 16px; background-position: -52px -19px; }
.pkbadge-storm   { width: 16px; height: 16px; background-position: -69px -20px; }
.pkbadge-mineral { width: 16px; height: 16px; background-position: -86px -19px; }
.pkbadge-glacier { width: 16px; height: 16px; background-position: -103px -19px; }
.pkbadge-rising  { width: 16px; height: 16px; background-position: -120px -19px; }

/* Gen 3 */
.pkbadge-stone   { width: 16px; height: 16px; background-position: -1px -36px; }
.pkbadge-knuckle { width: 16px; height: 16px; background-position: -18px -36px; }
.pkbadge-dynamo  { width: 16px; height: 16px; background-position: -35px -36px; }
.pkbadge-heat    { width: 16px; height: 16px; background-position: -52px -36px; }
.pkbadge-balance { width: 16px; height: 16px; background-position: -69px -36px; }
.pkbadge-feather { width: 16px; height: 16px; background-position: -86px -36px; }
.pkbadge-mind    { width: 16px; height: 16px; background-position: -103px -36px; }
.pkbadge-rain    { width: 16px; height: 16px; background-position: -120px -36px; }

/* Gen 4 */
.pkbadge-coal   { width: 16px; height: 16px; background-position: -1px -53px; }
.pkbadge-forest { width: 16px; height: 16px; background-position: -18px -53px; }
.pkbadge-cobble { width: 16px; height: 16px; background-position: -35px -53px; }
.pkbadge-fen    { width: 16px; height: 16px; background-position: -52px -53px; }
.pkbadge-relic  { width: 16px; height: 16px; background-position: -69px -53px; }
.pkbadge-mine   { width: 16px; height: 16px; background-position: -86px -53px; }
.pkbadge-icicle { width: 16px; height: 16px; background-position: -103px -53px; }
.pkbadge-beacon { width: 16px; height: 16px; background-position: -120px -53px; }

/* Gen 5 */
.pkbadge-trio   { width: 16px; height: 16px; background-position: -1px -87px; }
.pkbadge-basic  { width: 16px; height: 16px; background-position: -18px -87px; }
.pkbadge-insect { width: 16px; height: 16px; background-position: -35px -87px; }
.pkbadge-bolt   { width: 16px; height: 16px; background-position: -52px -87px; }
.pkbadge-quake  { width: 16px; height: 16px; background-position: -69px -87px; }
.pkbadge-jet    { width: 16px; height: 16px; background-position: -86px -87px; }
.pkbadge-freeze { width: 16px; height: 16px; background-position: -103px -87px; }
.pkbadge-legend { width: 16px; height: 16px; background-position: -120px -87px; }
.pkbadge-toxic  { width: 16px; height: 16px; background-position: -103px -70px; }
.pkbadge-wave   { width: 16px; height: 16px; background-position: -120px -70px; }

/* Gen 6 */
.pkbadge-bug     { width: 16px; height: 16px; background-position: -1px -104px; }
.pkbadge-cliff   { width: 16px; height: 16px; background-position: -18px -104px; }
.pkbadge-rumble  { width: 16px; height: 16px; background-position: -35px -104px; }
.pkbadge-plant   { width: 16px; height: 16px; background-position: -52px -104px; }
.pkbadge-voltage { width: 16px; height: 16px; background-position: -69px -104px; }
.pkbadge-fairy   { width: 16px; height: 16px; background-position: -86px -104px; }
.pkbadge-psychic { width: 16px; height: 16px; background-position: -103px -104px; }
.pkbadge-iceberg { width: 16px; height: 16px; background-position: -120px -104px; }
